---

import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

import NpcBuilder from "../../components/react/NpcBuilder.jsx";

import "../../styles/creature.css";

const page = {
  title: "Creature Builder",
  path: "/bestiary",
  metaTitle: "New NPC | Creature Builder"
};

const npcs = await getCollection("npc");
---

<BaseLayout page={page}>
  <h3 class="db-green-dark">New NPC</h3>
  <hr />

  <NpcBuilder
    client:only="react"
    existingNpcs={npcs.map(n => ({ id: n.id, name: n.data.name, ...n.data }))} 
  />
</BaseLayout>
