html {
  background-color: var(--db-light);
  font-family: sans-serif;
  color: var(--db-dark);
}

html.dark {
  background-color: var(--db-dark);
  color: var(--db-light);
}

body {
  font-family: "Crimson Pro", serif;
  margin: 0 auto;
  width: 100%;
  /* max-width: 80ch; */
  padding: 1rem;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
}

hr {
  margin: 0.1em 0 0.4em 0;
}

main {
  flex: 1; /* pushes footer down */
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Colus", sans-serif;
  text-align: left;
  font-size: 2rem;
  margin: 0;
}
h1 a:hover {
  opacity: 0.8;
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.6rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

h2 {
  font-family: "Colus", sans-serif;
  text-align: left;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  color: var(--db-green-dark);
}
.dark h2 {
  color: var(--db-green-light);
}

h3 {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}
.dark h3 {
}
