html {
  background-color: var(--db-light);
  font-family: sans-serif;
  color: var(--db-dark);
  height: 100%;
}

html.dark {
  background-color: var(--db-dark);
  color: var(--db-light);
}

body {
  font-family: "Crimson Pro", serif;
  margin: 2rem;
  /* width: 100%; */
  /* max-width: 80ch; */
  padding: 1rem;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

hr {
  margin: 0.1em 0 0.4em 0;
}

main {
  flex: 1; /* pushes footer down */
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Colus", sans-serif;
  text-align: left;
  font-size: 2rem;
  margin: 0;
}
h1 a:hover {
  opacity: 0.8;
}
@media (max-width: 600px) {
  body {
    margin: 0.5rem;
  }

  h1 {
    font-size: 1.6rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

h2 {
  font-family: "Colus", sans-serif;
  text-align: left;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  color: var(--db-green-dark);
}
.dark h2 {
  color: var(--db-green-light);
}

h3 {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}
.dark h3 {
}

p {
  margin: 0;
}

.index-section {
  break-inside: avoid;     /* prevent splitting a section between columns */
  margin-bottom: 1.5rem;
}

.index-section h2 {
  font-size: 1.25rem;
  margin: 0 0 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: rgba(85, 34, 0, 0.1);
  border-bottom: 1px solid #000;
  font-family: "Colus";        /* matches your headings */
}

.dark .index-section h2 {
  background-color: rgba(143, 143, 143, 0.133);
  border-bottom: 1px solid #fff;
}


.index-section ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.index-section li {
  margin: 0.25rem 0 0 0.5rem;
}

.index-columns {
  column-width: 200px;     /* target column width */
  column-gap: 2rem;        /* space between columns */
}
@media (max-width: 767px) {
  .index-columns {
    column-width: auto;
    column-count: 1;
  }
}
