html {
  background-color: #fff8ea;
  font-family: sans-serif;
  color: #2e2e2e;
}

html.dark {
  background-color: #272727;
  color: #fff8ea;
}

body {
  font-family: "Crimson Pro", serif;
  margin: 0 auto;
  width: 100%;
  /* max-width: 80ch; */
  padding: 1rem;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1; /* pushes footer down */
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Colus", sans-serif;
  text-align: left;
  font-size: 2rem;
  margin: 0;
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.6rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

h2 {
  font-family: "Colus", sans-serif;
  text-align: left;
  font-size: 1.6rem;
  margin: 0;
}
