html {
  background-color: #fff8ea;
  font-family: sans-serif;
  color: #2e2e2e;
}

html.dark {
  background-color: #272727;
  color: #fff8ea;
}

body {
  font-family: "Crimson Pro", serif;
  margin: 0 auto;
  width: 100%;
  /* max-width: 80ch; */
  padding: 1rem;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  height: 100%;
  margin: 0;
}

main {
  flex: 1; /* pushes footer down */
}

* {
  box-sizing: border-box;
}

h1, h2 {
  font-family: "Colus", sans-serif;
  margin: 0;
  font-size: 2rem;
}

.logo-inline-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: left;
  margin: auto;
}


.db-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* key change */
}



/* nav styles */
.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 .9375rem;
}

.menu {
  background-color: #2e2e2e;
  border: none;
  color: #fff8ea;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}

.dark .menu {
  background-color: #fff8ea;
  color: #2e2e2e;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #2e2e2e;
}

.dark .nav-links a {
  color: #fff8ea;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #2e2e2e;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .menu {
    display: none;
  }
}