.input-num-digits-1 {
  width: 1.5ch !important;
}

.input-num-digits-2 {
  width: 2.5ch !important;
}

.input-num-digits-3 {
  width: 3.5ch !important;
}

.input-num-digits-4 {
  width: 4.5ch !important;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.db-select-input{
  color: var(--db-dark);
}
.dark .db-select-input {
 /* color: var(--db-light); */
}
