.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0.25em;
  /* border: solid 1px var(--db-green-dark); */
  border-radius: .25em;
  padding: 0 0.4em;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  background-color: var(--db-green-dark);
  text-transform: uppercase;

  a {
    color: var(--db-light);
  }
}
.dark .tag {
  /* border: solid 1px var(--db-green-light); */
  background-color: var(--db-green-light);

  a {
    color: var(--db-dark);
  }
}