.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0.25em 0.25em 0.25em 0;
  /* border: solid 1px var(--db-green-dark); */
  border-radius: .25em;
  padding: 0.2em 0.4em 0.2em 0.6em;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  background-color: var(--db-green-dark);
  text-transform: uppercase;

  a {
    color: var(--db-light);
  }
}
/* .tag:first-child {
  margin-left: 0;
} */
.dark .tag {
  /* border: solid 1px var(--db-green-light); */
  background-color: var(--db-green-light);
}

.tag--selected {
  background-color: var(--db-red);
}
.dark .tag--selected {
  /* background-color: var(--db-light); */
  background-color: var(--db-red);
}

.tag-filter {
  background-color: var(--db-light);
  border: solid 1px;

  a {
    color: var(--db-dark);
  }
}
.dark .tag-filter {
  background-color: var(--db-dark);

  a {
    color: var(--db-light);
  }
}
.tag-filter--selected {
  background-color: var(--db-green-dark);
  border-color: var(--db-green-dark);

  a {
    color: var(--db-light);
  }
}
.dark .tag-filter--selected {
  background-color: var(--db-green-light);
  border-color: var(--db-green-light);
}

.tag-group-title {
  margin: 0.25em 0 0 0;
}