---
import "../../styles/kofi_button.css";
---

<a
  href="https://ko-fi.com/J3J11O0KS1"
  class="kofi-button"
  target="_blank"
  rel="noopener noreferrer"
>
  <img
    src="/images/kofi_symbol.png"
    alt=""
    class="kofi-button__icon"
    aria-hidden="true"
  />
  <span class="kofi-button__text">Support</span>
</a>
