---
import BaseLayout from "../layouts/BaseLayout.astro";

const page = {
  title: "Character Sheet",
  path: "/character-sheet"
}
---

<BaseLayout page={page}>
  <div>Coming soon!</div>
</BaseLayout>
