---
import Corpo from '../assets/images/corpo.svg';

import "../styles/author_signature.css";
---
<a class="author-signature" href="https://corpo.dev" aria-label="made by corpo.">
  <span class="author-signature__prefix">made by </span>
  <Corpo class="author-signature__icon" />
</a>