---
import AuthorSignature from "./AuthorSignature.astro";
import KofiButton from "./widgets/KofiButton.astro"
import LegalNotice from "./LegalNotice.astro"

import "../styles/footer.css";
---
<footer class="db-footer">
  <div class="db-footer__left">
    <LegalNotice />
  </div>

  <div class="db-footer__right">
    <AuthorSignature />
    <KofiButton />
  </div>
</footer>