---
import { Image } from 'astro:assets';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer class="db-footer">
  <a class="dev-by-corpo" href="https://corpo.dev">
    developed by c•rp•
    <!-- <img src="/images/developedbycorpo-white.png" alt="Developed by Corpo" width="80" /> -->
  </a>
</footer>