---
import Menu from "./Menu.astro";
import Navigation from "./Navigation.astro";
import ThemeToggle from "./ThemeToggle.astro";
import Logo from "./Logo.astro";

import "../styles/header.css";

const { page } = Astro.props;
---
<header class="db-header">
  <Logo page={page} />
  <nav class="navbar">
    <ThemeToggle />
  </nav>

</header>
