---
import "../styles/legal_notice.css";
---
<div class="db-legal-notice">
  <img
    src="/images/dragonbane-third-party-license-black.png"
    alt="Dragonbane Third Party License"
    class="db-legal-notice__logo db-legal-notice__logo--light"
  />
  <img
    src="/images/dragonbane-third-party-license-white.png"
    alt="Dragonbane Third Party License"
    class="db-legal-notice__logo db-legal-notice__logo--dark"
  />

  <div class="db-legal-notice__text">
    <p>Dragonbane Tools © 2025.</p>
    <p>
      This site is not affiliated with, sponsored, or endorsed by Fria Ligan AB.
      This Supplement was created under Fria Ligan AB’s Dragonbane Third Party Supplement License.
    </p>
  </div>
</div>

