---
import "../styles/logo.css";
---
<div class="logo-stacked-container">
  <div class="logo xlogo--underline">
    <a href="/" aria-label="Dragonbane tools"><span class="logo--primary">DRAGONBANE</span><span class="logo--secondary">TOOLS</span></a>
  </div>
</div>