---
import { flattenTags } from "../utils/tags";

import "../styles/tags.css";

// Ensure tags is always an array
const tags = Astro.props.tags ? flattenTags(Astro.props.tags) : [];
---

{tags.length > 0 && (
  <div class="tags">
    {tags.map((tag) => (
      <p class="tag">
        <a href={`/bestiary/tags/${tag}`}>{tag}</a>
      </p>
    ))}
  </div>
)}
