---

import { getCollection } from "astro:content";

import BaseLayout from "../../../layouts/BaseLayout.astro";

import NpcBuilder from "../../../components/react/NpcBuilder.jsx";

import "../../../styles/creature.css";

const page = {
  title: "Bestiary",
  path: "/bestiary",
  metaTitle: "NPC Builder | Bestiary"
};

const npcs = await getCollection("npc");
---

<BaseLayout page={page}>
  <h2 class="db-green-dark">NPC Builder</h2>
  <hr />

  <NpcBuilder
    client:only="react"
    existingNpcs={npcs.map(n => ({ id: n.id, name: n.data.name, ...n.data }))} 
  />
</BaseLayout>
